APP_PUBLIC_PORT=8080

MYSQL_DATABASE=designstudio
MYSQL_USER=designstudio
MYSQL_PASSWORD=designstudio
MYSQL_ROOT_PASSWORD=root

ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password

MAIL_MAILER=smtp
MAIL_SCHEME=smtp
MAIL_HOST=smtp.beget.com
MAIL_PORT=2525
MAIL_USERNAME=info@3dsmartdesign.ru
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=info@3dsmartdesign.ru
MAIL_FROM_NAME="3D Smart Design Studio"
LEAD_NOTIFICATION_TO=info@3dsmartdesign.ru
